{% load static %}


<link rel="stylesheet" href="{%static 'style2.css' %}">
<div class="container"> 
    {% csrf_token %}
    
    <!DOCTYPE html>
<html>
  <head>
    <title> REGISTRATION FORM </title>
    
  </head>
  <body>
    
    <div class="main-block">
      <div class="left-part">
        <i class="fas fa-graduation-cap"></i>
        <h1>REGISTRATION FORM </h1>
        <p>REGISTER TO SEE THE AVAILABLE MANGA TO BUY</p>
       
      </div>
      <form action="register" method="post">
        {% csrf_token %}
        <div class="title">
          <i class="fas fa-pencil-alt"></i> 
          <h2>Register here</h2>
        </div>
        <div class="info">
          <input type="text" name="first_name" placeholder="First Name">
          <input type="text" name="last_name" placeholder="Last Name">
          <input type="text" name="username" placeholder="Username">
          <input type="email" name="email" placeholder="email">
          <input type="password" name="password1" placeholder="Password">
          <input type="password" name="password2" placeholder="Confirm password">
          <input type="submit">

          {% for message in messages %}
          <h3> {{message}} </h3>
          {% endfor %}
        </div>
          
        </div>
        
        
      </form>

      <div>
       
      </div>
    </div>
  </body>
</html>










  </div>